@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

.main-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stars{
  text-align: left;
}

.stars img{
  padding-right: 1rem;
}

.call-text{
  width: 37vw;
}

.call-text h1{
  color: #fff;
  font-weight: bold;
  font-size: 3vw;
}

.call-text h2{
  color: #fff;
  font-size: 1.3vw;
}

.confetti{
  align-self: center;
  position: absolute;
}

.c-1{
  width: 9vw;
  left: 15vw;
  top: 10vw;
  transform: rotate(-50deg);
}

.c-2{
  width: 12vw;
  right: 15vw;
  top: 10vw;
  transform: rotate(40deg);
}

.discount{
  align-self: center;
  position: absolute;
  width: 4vw;
  right: 38vw;
}

.price-switch{
  display: flex;
  background-color: #252525;
  border-radius: 10px;
  width: 15vw;
  margin: 3rem 0;
}

.price-switch h2, .price-switch div{
  cursor: pointer;
  width: 100%;
}

.price-switch div{
  transition: 0.5s ease;
}

.price-switch h2{
  font-size: 1vw;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.active-switch{
  background-color: #3BD39E;
  border-radius: 10px;
  transform: scale(1.02);
}

.not-active{
  background-color: #252525;
  border-radius: 10px;
  padding: 0;
  color: #fff;
  transform: scale(.9);
}

.pricing-container{
  display: flex;
}

.basic-card{
  border: 1px solid rgb(54, 54, 54);
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #141519, rgba(20, 21, 25, 0.0784));
}

.standard-card{
  border: 1px solid rgb(54, 54, 54);
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, 
                                rgba(59, 211, 158, 0.75), 
                                rgba(59, 211, 158, 0.4) 40%, 
                                rgba(20, 21, 25, 0.0784));
}

.card-heading h1{
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 1.8vw;
}

.card-heading h2{
  text-align: left;
  color: #fff;
  font-size: 1vw;
}

.pricing{
  margin: 0;
  color: #fff;
  font-size: 2.5vw;
  text-align: left;
  font-weight: bold;
}

.pricing span{
  font-weight: normal;
  color: #A9A9A9;
  font-size: 1vw;
}

.line{
  height: 2px;
  margin: 1rem auto;
  background-color: #a9a9a98e;
}

.features-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.feature img{
  align-self: center;
  width: 2.4vw;
  padding-right: 1rem;
}

.feature{
  display: flex;
}

.features-container h1{
  color: #fff;
  font-weight: bold;
  font-size: 1.3vw;
}

.feature h2{
  color: #fff;
  font-size: 1vw;
}

.feature h2::before{
  content: "-";
  margin-right: 10px;
}

.basic-card h3{
  color: #fff;
  font-size: 1vw;
  cursor: pointer;
}

.standard-card h3{
  color: #fff;
  font-size: 1vw;
  cursor: pointer;
}

h3 a {
  color: inherit;
  text-decoration: none;
}

.basic-card, .standard-card {
  transition: 1s ease;
}

.basic-card:hover, .standard-card:hover{
  box-shadow: 0px 0px 10px #6565657d; /* Offset-x | Offset-y | Blur-radius | Color */
  transform: scale(1.005);
}

@media (max-width: 800px) {

  .confetti{
    display: none;
  }

  .discount{
    display: none;
  }

  .pricing-container{
    display: grid;
  }

  .basic-card{
    grid-row: 2;
  }

  .standard-card{
    grid-row: 1;
  }

  .call-text{
    width: 100%;
  }
  .call-text h1{
    font-size: 2.5rem;
  }

  .call-text h2{
    padding: 0 1rem;
    font-size: 1rem;
  }

  .price-switch{
    width: 70%;
    margin: 1rem;
  }

  .price-switch h2{
    font-size: 1rem;
  }

  .card-heading h1{
    font-size: 1.5rem;
  }
  
  .card-heading h2{
    font-size: 1rem;
  }

  .pricing{
    font-size: 2rem;
  }

  .pricing span{
    font-size: 1rem;
  }

  .features-container h1{
    font-size: 1.5rem;
  }

  .feature h2{
    font-size: 1rem;
  }

  button{
    font-size: 1rem;
  }

  .basic-card h3{
    font-size: 1rem;
  }

  .standard-card h3{
    font-size: 1rem;
  }
}