@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}
.popup-btn {
  border: 3px solid rgb(75, 75, 75); /* Add a white border */
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 400;
  display: flex;
  text-align: right;
  background-color: #141519;
  color: #fff;
  resize: none; /* Disable resizing */
}


.popup-exit-img {
  width: 27px;
  height: 27px;

}

.upload-btn {
  display:none;
}

.popup-overlay {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-width: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  
}

.popup-btn2 {
  border: 3px solid rgb(75, 75, 75);
  font-family: 'Roboto';
  font-size: 1.3vw;
  margin: 0rem 0;
  width: 18vw;
  height: 4vw;
  font-weight: 400;
  background-color: #141519;
  color: #fff;
}

.popup-img {
  padding-right: 10px;
}

.main-text {
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 0px;

  justify-content: center;
  align-items: center;
}

.description-text {
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.2px;
  justify-content: center;
  align-items: center;
}

.popup-content {
  word-wrap: none;
  position:absolute;
  width: 840px;
  height: 341px;
  background-color: white;
  border-radius: 25px;
  background-color: #141519;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 210;
  padding: 3rem;
  overflow: hidden; /* Disable scrolling */
  padding-top: 0rem;
  padding-bottom: 3.5rem;

}

.exit-btn {
  z-index: 210;
  overflow: hidden; /* Disable scrolling */
  position: relative;
  top: -10.5rem;
  right: -26.25rem;
  cursor: pointer;
  border: none;
  width: 82px;
  height: 82px;
  min-width: 82px;
  min-height: 82px;
  background-color: #46474A;
  color: #fff;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup-important{
  color: #c6c6c6;
  
}



.popup-text p{
  text-align: left;
  font-family: 'Poppins';
}

.error-popup {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d7441c;
  color: white;
  font-family: 'Poppins';
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;  /* ensure popup is above everything else */
  animation: fade-in 0.5s;
  opacity: 1;
}

.submit-btn {
  outline: none;
  border: none;
  width: 190px;
  height: 68px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.btn-container
{
  padding-top: 75px;
  padding-bottom: 100px;
}
body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
}

.logo-img{
  cursor: pointer;
  width: 160px;
}

body {
  width: auto;
  display: flex;
  justify-content: center;
  height: 100%; 
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  flex-wrap: wrap;
  font-family: 'Poppins';
}

.home-content{
  display: flex;
  justify-content: center;
}


.txt {
  font-family: 'Roboto';
  font-weight: bold;
  text-align: left;
  margin: 20px 0;
  color: white;
  font-size: 55px;
  text-align: center;
}

.text-container {
  line-height: 4rem;
}

.highlight {
  color: #15D59F;  /* Adjust color as needed */
}

.form-header {
  color: #15D59F;
  font-weight: bold;
  font-size: 30px;
}


@keyframes fade_move_down {
  0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
  }
  50% {
        opacity: 1;
  }
  100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
  }
}

.tutorial-text {
  font-family: 'Poppins';
  text-align: center;
  font-size: 30px;
  margin: 0px 0;
  overflow-wrap: break-word;
  overflow: visible;
  color: white;
  width: 600px;
}

.form-container {
  display:grid;
}


.form-section-personal {
  padding-bottom: 50px;
  display:flex;

}

.form-section-work {
  padding-bottom: 25px;
  display:flex;

}

.form-section-education {
  padding-bottom: 50px;
  display:flex;
}

.form-section-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Add gap for spacing between textboxes */

}

.form-data {
  font-family: 'Poppins';
  color: white;
  font-weight:medium;
  font-size: 30px;
  margin-bottom: 15px;
}

.form-section-description {
  padding-top: 71px;
}



/* Responsive */


@media(max-width: 1450px){
  
}

@media(max-width: 1000px){


  .txt {
    font-size: 36px;

  }
    .tutorial-text {
    font-family: 'Poppins';
    text-align: center;
    font-size: 24px;
    margin: 0px 0;
    overflow-wrap: break-word;
    overflow: visible;
    color: white;
    width: 500px;
  }
  .form-container {
    width: 100%; /* Fluid width */
    max-width: 1200px; /* Optional: Set a maximum width for larger screens */
    margin: 0 auto; /* Center the container */
  }

  .form-section-description {
    padding-top: 71px;
  }
  
  .form-section-personal {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-work {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-education {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-skills {
    display: contents;
  }
}

@media(max-width: 768px){

  .description-mobile {

  }
  .header {
    margin-top: 2rem;
    width: 40%;
  }

  .exit-btn {
    z-index: 210;
    overflow: hidden; /* Disable scrolling */
    position: relative;
    top: -12rem;
    right: -9.25rem;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: #46474A;
    color: #fff;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .popup-content {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    background-color: #141519;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 210;
    padding: 3rem;
  
    overflow: hidden; /* Disable scrolling */
    padding-top: 1rem;
    padding-bottom: 3.5rem;
  }

  .main-text {
    font-size: 28px;
    width: 250px;
  }

  .popup-btn {
    border: 2px solid rgb(75, 75, 75); /* Add a white border */
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    display: flex;
    margin-top: 50px;
    white-space: nowrap;
    text-align: center;
    background-color: #141519;
    color: #fff;
    resize: none; /* Disable resizing */
  }

  .description-text {
    font-size: 20px;
    width: 250px;

  }

  .txt {
    font-size: 26px;

  }
    .tutorial-text {
    font-family: 'Poppins';
    text-align: center;
    font-size: 22px;
    margin: 0px 0;
    overflow-wrap: break-word;
    overflow: visible;
    color: white;
    width: 300px;
  }
  .form-container {
    width: 80%; /* Fluid width */
    max-width: 1200px; /* Optional: Set a maximum width for larger screens */
    margin: 0 auto; /* Center the container */
  }
  
  .form-section-personal {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-work {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-education {
    padding-bottom: 50px;
    display:grid;
  }
  
  .form-section-skills {
    display: contents;
  }
}

