@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.logo-img{
    width: 160px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin: 10px;
}

.signup-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    padding: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.signup-text a{
    text-decoration: none;
    color: #36D09B;
    font-size: 1.5rem;
}

.signup-text a:hover{
    text-decoration: underline;
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.input-group > div {
    flex: 1;
    margin-right: 1em;
}

.input-group > div:last-child {
    margin-right: 0;
}

.input-group > div > input {
    width: 100%;
    padding: 10px;
    /* border: none; */
    border-radius: 21px;
    margin-top: 5px;
    border-color: rgb(69, 69, 69);
    background-color: transparent;
    color: white;
    border-style: solid;
}

.signup-button {
    margin-top: 1em;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    border-radius: 41px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: #15D59F;
    color: black;
}

.signup-button:hover {
    background-color: #15D59F;
}

.login-link {
    margin-top: 1em;
    color: white;
    
}

label {
    color: white;
    font-size: 18px;

}

.name-group {
    display: flex;
    justify-content: left;
}

.name-group > input {
    margin-right: 1em;
    padding: 10px;
    border-radius: 21px;
    margin-top: 5px;
    border-color: rgb(69, 69, 69);
    width: 100%;
    background-color: transparent;
    color: white;
    border-style: solid;



}

.name-group > input:last-child {
    margin-right: 0;
}
/* 
.header {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo-img {
    height: auto;
    width: 150px;
    margin-top: 25%;
    left: 0;
    margin-left: 40%
  } */

.main-container {
    width: 100vw;
}

.login-link a {
    color: #15D59F;
    text-decoration: none;
}

.login-link a:hover {
    color: #15D59F;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: bold;
  }

  @media(max-width: 750px){
    .signup-text{
        font-size: .85rem;
    }

    .name-group{
        flex-direction: column;
    }
  }
