@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova-regular.otf') format('otf'),
}

body{
  background-color: #0E0F12;
}

main{
  /* max-width: 50vw; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 90vh;
}

.heading-text{
  color: #15D59F;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 5px;
}

.subheading-text{
  margin-top: -10px;
  color: #fff;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 5px;
}

.ai-img{
  max-width: 33rem;
  margin-bottom: 10px;
}

.transcript{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.text-server{
  color: #fff;
}

.text-dark{
  color: #929292;
}

.text-user{
  color: #15D59F;
  margin: .3rem;
}

.mic-img{
  position: absolute;
  bottom: 0;
  max-width: 3rem;
  margin-top: 25px;
}

/* .logo {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  transform: none;
} */