@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dashboard-container{
  display: flex;
  height: 100vh;
}

.green{
  color: #43D2A2;
}

.popup-overlay {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.popup-content {
  border-radius: 25px;
  background-color: #151517;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 210;
  padding: 3rem;
  max-width: 50%;
  max-height: 80%;
  overflow: auto;
  font-family: 'Poppins';
}

.popup-text{
  padding: 0 2rem;
  margin-bottom: 2rem;
  border: 2px solid white;
  border-radius: 15px;
}

.popup-important{
  color: #c6c6c6;
}

.popup-content h2{
  font-size: 2.3rem;
}

.popup-text p{
  text-align: left;
  font-size: 20px;
  font-family: 'Poppins';
}

.error-popup {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d7441c;
  color: white;
  font-family: 'Poppins';
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;  /* ensure popup is above everything else */
  animation: fade-in 0.5s;
  opacity: 1;
  text-align: center;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  animation: fade-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.sidebar-wrapper{
  background-color: #0E0F12;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.sidebar-container{
  padding-top: 1rem;
  border-radius: 25px;
  background: linear-gradient(-40deg, rgba(20, 21, 25, 1) 0%, rgba(21, 21, 25, 0.6) 25%, rgba(21, 160, 122, 0.15) 85%, rgba(21, 160, 122, 0.1) 100%);
  height: 100%;
}

.sidebar-item{
  padding: 1rem;
  margin: 5px 0;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  border-radius: 5px;
}

.sidebar-item:hover{
    background-color: #dddddd18;
    color: #000;
}

.sidebar-icon{
  width: 40px;
}

.logout img{
  margin-left: 8px;
  width: 30px;
}

.referral img{
  margin-left: 7px; 
  width: 27px;
}

.settings-content{
  flex-grow: 1;
  display: flex;
  padding: 0 2rem;
  background-color: #0E0F12;
  display: flex;
  flex-direction: column;
}

.dashboard-content{
  flex-grow: 1;
  padding: 0 2rem;
  /* margin-right: 1rem; */
  background-color: #0E0F12;
  display: flex;
  flex-direction: column;
}

.dashboard-container{
  display: flex;
  /* height: 100vh; */
}

.header{
  display: flex;
  justify-content: space-between;
}

.welcome-text{
  padding-left: 1rem;
  color: #fff;
  font-family: 'Poppins';
}

.welcome-text h2{
  font-weight: normal;
  font-size: 1.6vw;
  color: #979797;
}

.welcome-text h1{
  font-weight: normal;
  font-size: 2.5vw;
}

.welcome-text span{
  color: #43D2A2;
}

.bird-logo{
  align-self: center;
  width: 52px;
  margin-right: 1rem;
  cursor: pointer;
}

/* Dashboard Main Content */

/* Dashboard Main Content For Basic Users */
.basic-content-container{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1.5fr 1.1fr 1.1fr 0.8fr; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "A B C E"
    "A D D E"
    "A D D E";
  grid-column-gap: 20px; 
}

.basic-content-container > div:nth-child(2),
.basic-content-container > div:nth-child(3){
  justify-self: center;
}

.ads{
  grid-area: E; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: #222328; 
  border-radius: 25px; 
  color: white; 
  font-weight: 500; 
  font-size: 2.96vw; 
  transition: all 0.55s ease-in-out;
  margin-bottom: 1rem;
  grid-column-start: 4; 
  grid-column-end: 5; 
}

.zara-green{
  grid-area: D; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background: #222328; 
  border-radius: 25px;
  transition: all 0.55s ease-in-out;
  margin: 0 0.8rem 1rem; 
  padding: 0 1.5rem 2rem 1.5rem;
}

.zara-green-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
  height: 100%; 
}

.zara-green-heading{
  color: white; 
  font-size: 4.73vw; 
  text-align: center; 
  font-weight: 500; 
}

.lock-img{
  width: 4.5vw; 
  height: 4.5vw; 
  margin-top: -2.25vw; 
}

.zara-green-button{
  display: inline-block; 
  transition: all 0.55s ease-in-out;
  font-size: 1.6vw;
  font-weight: 500; 
  padding: 20px; 
}

.zara-green-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.tile-basic{
  color: #fff;
  border-radius: 25px;
  background-color: #222328;
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 23.9vh;
  transition: all 0.55s ease-in-out;
  width: 19.74vw; 
}

.tile-basic:hover,
.zara-green:hover,
.ads:hover{
  transform: scale(1.008);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.tile-text-basic{
    display: flex;
    flex-direction: column;
}

.tile-text-basic,
.tile-score-basic{
    flex-basis: 50%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.tile-heading-basic{
  font-weight: normal;
  cursor: default;
  font-size: 1.1vw;
  font-family: 'Poppins';
}

.tile-subheading-basic{
  cursor: default;
  font-family: 'Roboto';
  color: #979797;
  font-size: .9vw;
}

.tile-score-basic{
  cursor: default;
  font-family: 'Roboto';
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
}

.overall-score-basic{
  grid-area: B; 
}

.interviews-completed-basic{
  grid-area: C;
}

/* Dashboard Main Content For Green Users */
.content-container{
  flex-grow: 1;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "A I E E"
    "A B G G"
    "A C D J";
}

.tile{
  color: #fff;
  border-radius: 25px;
  background-color: #222328;
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 23.9vh;
  transition: all 0.55s ease-in-out;
}

.tile:hover{
  transform: scale(1.008);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.tile-text{
    display: flex;
    flex-direction: column;
}

.tile-text,
.tile-score {
    flex-basis: 50%;
    flex-shrink: 0;
    word-wrap: break-word;
}

/* Zara start screen styles */

.zara-heading{
    cursor: default;
    font-style: 'Roboto';
    font-size: 5vw;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 0;
}

.start-zara-main, .start-zara-second, .start-zara-final{
  grid-area: A;
  color: #fff;
  border-radius: 25px;
  background: linear-gradient(120deg, rgba(20, 21, 25, 1) 0%, rgba(21, 21, 25, 0.6) 25%, rgba(21, 160, 122, 0.3) 85%, rgba(21, 160, 122, 0.2) 100%);
  margin: 0 .5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.55s ease-in-out;
}

.start-zara-main{
  justify-content: space-around;
}

.start-zara-second{
  justify-content: flex-start;
}

.start-zara-final{
  justify-content: flex-start;
}

.start-zara-main:hover, .start-zara-second:hover, .start-zara-final:hover{
  transform: scale(1.008);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.blob{
  align-self: center;
}

.blob-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.zara-h2{
  margin-top: 0;
  font-family: 'Poppins';
  font-size: 1.5vw;
  margin-bottom: 0px;
  text-align: center;
}

.zara-text{
  font-family: 'Poppins';
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.zara-text span{
  color: #15D59F;
}

.question{
  margin-bottom: 1rem;
}

.zara-dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons img{
  transition: all 0.55s ease-in-out;
  /* margin: 3rem .5rem; */
  padding: 1.5rem .5rem;
}

.buttons img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.category-scores{
  grid-area: C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.average-time{
  grid-area: D;
}

.overall-score{
  grid-area: B;
}

.score-progress{
  grid-area: E;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.recent-feedback{
  cursor: default;
  grid-area: G;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.minutes-per-day{
  grid-area: I;
}

.interviews-completed{
  grid-area: J;
}

.tile-heading{
  font-weight: normal;
  cursor: default;
  font-size: 1.1vw;
  font-family: 'Poppins';
}

.pro-heading{
  cursor: default;
  font-weight: normal;
  font-size: 1.4vw;
  font-family: 'Poppins';
}

.active{
  position: relative; /* important for placing the pseudo-element */
  border-radius: 5px;
}

.active::after{
  content: "";
  position: absolute;
  top: 15px; /* adjust this to change the top offset of the border */
  bottom: 15px; /* adjust this to change the bottom offset of the border */
  right: 0;
  width: 0;
  border-right: 3px solid #43D2A2; /* border color and width */
  border-radius: 5px;
}

.pro-button{
  width: 13rem;
  font-size: 1.5vw;
}

.tile-subheading{
  cursor: default;
  font-family: 'Roboto';
  color: #979797;
  font-size: .9vw;
}

.tile-score{
  cursor: default;
  font-family: 'Roboto';
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
}

.increase{
  color: #15D59F;
}

.decrease{
  color: #D16142;
}

.carousel {
  /* position: relative; */
  /* width: 200px;
  height: 200px; */
  text-align: start;
  /* line-height: 200px; */
  font-size: 21px;
  /* margin: auto; */
}

.carousel-screens {
  font-size: 1.2vw;
  height: 3rem;
  font-family: 'Poppins';
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  /* position: absolute; */
  /* bottom: 10px; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.feedback-heading{
  align-self: start;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border: 1px solid #979797;
  border-radius: 50%;
  margin: 1rem 10px;
  cursor: pointer;
}

.positive{
  background-color: #15D59F;
}

.negative{
  background-color: #D16142;
}

.carousel-indicator.active {
  border-color: white;
}


/* Progress Bar */

.progress-container{
  width: 100%;
  border-radius: 25px;
  background-color: #292A2D;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.progress{
  height: 100%;
  border-radius: 25px;
}

.positioner{
  z-index: 10;
  position: absolute;
  width: 100%;
}

.progress-text{
  cursor: default;
  padding: 0 1rem;
  font-family: 'Poppins';
  font-size: .9vw;
  display: flex;
  justify-content: space-between;
}

/* Chart */

.chart-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chart-text h1{
  font-weight: normal;
  font-size: 1.1vw;
  cursor: default;
  font-family: 'Poppins';
}

.legend span{
  font-size: 1vw;
}

.legend{
  display: flex;
  align-items: center;
}

.legend-circle{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #15D59F;
  margin: 0 .5rem;
}

.chart-container{
  margin-right: 3rem;
}

.start-button{
  font-size: 1.5vw;
  padding: 1.182vw;
  align-self: center;
}

/* Referral Modal */
.referralModalOverlay{
  position: fixed;  /* Change from absolute to fixed */
  top: 0;  /* Add this */
  left: 0;  /* Add this */
  height: 100%;
  width: 100%;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.7); /* Change the color to a slightly transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
}


.referralModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141519;;
  border-radius: 25px;
  font-family: 'Poppins';
  width: 402.73px;
  height: 200px; /* Add a fixed height */
  text-align: center;
}

.referralModal h1{
  margin-top: -7px; 
  color: #FFF;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700; 
}

.referralModal p{
  margin-top: -8px; 
  width: 250px; 
  color: #FFF;
  text-align: center;
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 500;
}

.referralModal button{
  margin-top: -2px; 
  color: white; 
  width: 130px; 
  height: 40px; 
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.20);
  background: #141519; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  transition: 0.001s ease;
}

.referralModal button:active{
  border-color: #43D2A2;
}

button .buttonImg{
  width: 20px; 
  height: 20px; 
  margin-left: -15px; 
  
}

button .buttonWriting{
  font-size: 15px;
  color: white;
  margin-top: 12px; 
  margin-right: -20px; 
}

.exitReferralModal{
  width: 50px; 
  height: 50px; 
  margin-right: -400px; 
  margin-top: -20px; 
}

.exitReferralModal:hover{
  transform: scale(1.05);
  cursor: pointer;
}


/* Logout Modal */

.logoutModalOverlay{
  position: fixed;  /* Change from absolute to fixed */
  top: 0;  /* Add this */
  left: 0;  /* Add this */
  height: 100%;
  width: 100%;
  z-index: 9000 !important;
  background-color: rgba(0, 0, 0, 0.7); /* Change the color to a slightly transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoutModal h1{
  cursor: default;
  color: #15D59F;
  font-size: 2rem;
  font-weight: bold; 
}

.logoutModal p{
  cursor: default;
  margin: .5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0 2rem;
  margin-bottom: 2rem;
}


.logoutModal button {
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  background: transparent; /* Make the button background transparent */
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  /* margin: .5rem 0 2rem 0; */
  transition: all 0.55s ease-in-out;
}

.logoutModal button.confirm {
  background: white;
  color: black;
}

.logoutModal button.confirm:hover {
  background: white;
  color: black;
}


.logoutModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this to spread the contents of the modal */
  align-items: center;
  background-color: #252525;
  border-radius: 25px;
  font-family: 'Poppins';
  width: 30rem;
  height: 15rem; /* Add a fixed height */
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
}

/* LOADING */
.loading{
  width:85vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h1{
  color: white;
  font-weight: bold;
}

/* Responsive */

@media(max-width: 1450px){

  .chart-text h2{
    font-size: 1rem;
  }
  .tile-heading,
  .tile-heading-basic{
    font-size: 1rem;
  }
  .tile-subheading,
  .tile-subheading-basic{
    font-size: .9rem;
  }

  .blob{
    max-width: 150px;
    max-height: 150px;
  }

  .popup-content{
    padding: 1rem;
    max-width: 90vw;
    max-height: 85vw;
  }

  .popup-text{
    margin: 0 1rem 2rem 1rem;
  }

  .popup-content h2{
    font-size: 30px;
  }

  .popup-content button{
    margin-bottom: 1rem;
  }

  .buttons img{
    width: 3.5rem;
  }
}

@media(max-width: 1000px){
  .zara-heading{
    font-size: 3rem;
  }
}


@media(max-width: 750px){

  .dashboard-container {
    flex-direction: column-reverse; 
    width: 90vw;
    display: flex;
    justify-content: center;
  }

  .sidebar-wrapper {
    width: 100%; /* Makes sidebar full width */
    position: fixed; /* Makes sidebar fixed at the bottom */
    bottom: 0; /* Aligns the sidebar at the bottom */
    flex-direction: row; /* Change the direction to row */
    display: flex;
    align-items: center;
    left: 0

  }
  .sidebar-container {
    padding-top: 1rem;
    border-radius: 25px;
    background: linear-gradient(-40deg, rgba(20, 21, 25, 1) 0%, rgba(21, 21, 25, 0.6) 25%, rgba(21, 160, 122, 0.15) 85%, rgba(21, 160, 122, 0.1) 100%);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; /* Layout items horizontally */
    width: 100%;
  }

  .sidebar-item{
    flex: 1; /* Add this line to distribute space evenly among the items */
    text-align: center; /* Add this line to center the text */
  }

  .dashboard-content{
    /* Adjust the bottom padding to prevent content from being covered by the bottom bar */
    padding-bottom: 3rem; /* adjust this value based on the height of your bottom bar */
    padding: 0;
    margin-right: none;
    display: flex;
    justify-content: center;
  }

  .blob{
    max-width: 8rem;
    max-height: 8rem;
  }

  .start-button{
    font-size: 1rem;
    padding: .75rem;
  }

  .content-container,
  .basic-content-container{
    flex-grow: 1;
    display: flex;
  }

  .zara-heading{
    margin-top: 1rem;
  }

  .start-zara-main, .start-zara-second, .start-zara-final{
    width: 100%;
    height: 65%;
  }

  .welcome-text h2{
    font-size: 1.5rem;
  }

  .zara-h2{
    font-size: 1.3rem;
  }

  .zara-text{
    font-size: .75rem;
  }

  .buttons img{
    padding: 1rem .5rem 0;
  }

  .bird-logo{
    width: 35px;
  }

  .content-container{
    margin-bottom: 2rem;
  }
}
