.main-container {
    width: 100vw;

}

.footer {
    display: flex;
    justify-content: right;
    color: gray;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray; 
    padding-right: 5%;
  
  }

  .header {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
  }

  .logo-container {
    display: flex;
    align-items: center; 
  }