.dashboard-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px); /* Replace 60px with the actual height of your footer */
}
  
.sidebar {
    width: 250px;
    background-color: transparent;
    border-right: 1px solid;
    color: #808080;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* aligns items vertically in the middle */
    justify-content: space-between; /* creates equal space between each child */
}

  
  .sidebar img {
    /* width: 100%; */
    max-width: 180px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 0;
  }
  
  .sidebar .user-info {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    margin-right: 5%;
  }
  
  .welcome-text {
    text-align: left;
    margin: 0;
    color: white;
    font-size: 2rem;
  }
  

  .box-row {
    display: flex;
    justify-content: space-between;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border: 1px solid gray;
    background-color: transparent;
    color: black; /* Adjust as needed */
    padding: 20px;
    text-align: center;
    border-radius: 21px;
  }

  .pill-container {
    display: flex;
    justify-content: space-between;
  }

  .time-pill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; /* Adjust as needed */
    height: 15px; /* Adjust as needed */
    border: 1px solid gray;
    background-color: transparent;
    color: black; /* Adjust as needed */
    padding: 15px;
    text-align: center;
    border-radius: 21px;
  }

  .big-number{
      font-size: 4rem;
      color: #00ffbf;
      margin: 0;
      
  }

  .stats-text{
      color: white;
  }
  
  .footer {
    display: flex;
    justify-content: right;
    color: gray;
    padding: 20px 0;
    position: inherit;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray; 
    padding-right: 5%;
  
  }

  .sidebar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;    /* new */


  }

  .sign-out-button{
      color: white;
      background-color: transparent;
      border: none;
      cursor:pointer;
      font-weight: bold;
  }

  .sidebar li {
    padding: 10px 0;
    display: flex;          /* new */
    align-items: center;    /* new */
  }

  .time-pill select {
    padding: 5px;
    /* Rest of your styling here */
    background-color: transparent;
    color: white;
    border: none;
    width: 180px;
  }
