@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dashboard-container{
  display: flex;
  padding: 1rem 0;
}

.sidebar-wrapper{
  background-color: #0E0F12;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container{
  padding-top: 1rem;
  border-radius: 25px;
  height: 100%;
  background: linear-gradient(-40deg, rgba(20, 21, 25, 1) 0%, rgba(21, 21, 25, 0.6) 25%, rgba(21, 160, 122, 0.15) 85%, rgba(21, 160, 122, 0.1) 100%);
}

.sidebar-item{
  padding: 1rem;
  margin: 5px 0;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  border-radius: 5px;
}

.sidebar-item:hover{
    background-color: #dddddd18;
    color: #000;
}

.sidebar-icon{
  width: 40px;
}

.dashboard-content{
  flex-grow: 1;
  padding: 0 2rem;
  margin-right: 1rem;
  height: 100%;
  background-color: #0E0F12;
  display: flex;
  flex-direction: column;
}

.dashboard-container{
  display: flex;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-between;
}

.welcome-text{
  padding-left: 1rem;
  color: #fff;
  font-family: 'Poppins';
}

.welcome-text h2{
  color: #979797;
}

.welcome-text span{
  color: #43D2A2;
}

.bird-logo{
  align-self: center;
  width: 52px;
  margin-right: 1rem;
}

/* Dashboard Main Content */
.content-container{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "A B E E"
    "A C G G"
    "A D I J";
}

.tile{
  color: #fff;
  border-radius: 25px;
  background-color: #222328;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  transition: all 0.55s ease-in-out;
}

.tile:hover{
  transform: scale(1.008);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.tile-text{
    display: flex;
    flex-direction: column;
}

.tile-text,
.tile-score {
    flex-basis: 50%;
    flex-shrink: 0;
    word-wrap: break-word;
}

/* Zara start screen styles */

.zara-heading{
    cursor: default;
    font-style: 'Roboto';
    font-size: 5rem;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 0;
}

.start-zara-main, .start-zara-second, .start-zara-final{
  grid-area: A;
  color: #fff;
  border-radius: 25px;
  background: linear-gradient(120deg, rgba(20, 21, 25, 1) 0%, rgba(21, 21, 25, 0.6) 25%, rgba(21, 160, 122, 0.3) 85%, rgba(21, 160, 122, 0.2) 100%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.55s ease-in-out;
}

.start-zara-main{
  justify-content: space-evenly;
}

.start-zara-second{
  justify-content: flex-start;
}

.start-zara-final{
  justify-content: flex-start;
}

.start-zara-main:hover, .start-zara-second:hover, .start-zara-final:hover{
  transform: scale(1.008);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.blob{
  align-self: center;
}

.blob-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.zara-h2{
  font-family: 'Poppins';
  font-size: 40px;
  margin-bottom: 0px;
  text-align: center;
}

.zara-text{
  font-family: 'Poppins';
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.zara-text span{
  color: #15D59F;
}

.question{
  margin-bottom: 1rem;
}

.zara-dropdown{
  display: flex;
  justify-content: center;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons img{
  transition: all 0.55s ease-in-out;
  margin: 3rem .5rem;
  padding: 0;
}

.buttons img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.category-scores{
  grid-area: C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.average-time{
  grid-area: D;
}

.overall-score{
  grid-area: B;
}

.score-progress{
  grid-area: E;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.recent-feedback{
  cursor: default;
  grid-area: G;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.minutes-per-day{
  grid-area: I;
}

.interviews-completed{
  grid-area: J;
}

.tile-heading{
  cursor: default;
  font-size: 22px;
  font-family: 'Poppins';
}

.tile-subheading{
  cursor: default;
  font-family: 'Roboto';
  color: #979797;
  font-size: 20px;
}

.tile-score{
  cursor: default;
  font-family: 'Roboto';
  font-size: 75px;
  display: flex;
  justify-content: center;
}

.increase{
  color: #15D59F;
}

.decrease{
  color: #D16142;
}

.carousel {
  /* position: relative; */
  /* width: 200px;
  height: 200px; */
  text-align: start;
  /* line-height: 200px; */
  font-size: 21px;
  /* margin: auto; */
}

.carousel-screens {
  height: 5rem;
  font-family: 'Poppins';
  margin-bottom: 1rem;
}

.carousel-indicators {
  /* position: absolute; */
  /* bottom: 10px; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.feedback-heading{
  align-self: start;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border: 1px solid #979797;
  border-radius: 50%;
  margin: 1rem 10px;
  cursor: pointer;
}

.positive{
  background-color: #15D59F;
}

.negative{
  background-color: #D16142;
}

.carousel-indicator.active {
  border-color: white;
}


/* Progress Bar */

.progress-container{
  width: 100%;
  border-radius: 25px;
  background-color: #292A2D;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.progress{
  height: 100%;
  border-radius: 25px;
}

.positioner{
  z-index: 10;
  position: absolute;
  width: 100%;
}

.progress-text{
  cursor: default;
  padding: 0 1.5rem;
  font-family: 'Poppins';
  font-size: 23px;
  display: flex;
  justify-content: space-between;
}

/* Chart */

.chart-text{
  font-size: 12px;
  cursor: default;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins';
}

.legend{
  display: flex;
  align-items: center;
}

.legend-circle{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #15D59F;
  margin: 0 .5rem;
}

.chart-container{
  margin-right: 3rem;
}

.start-button{
  align-self: center;
}

/* Responsive */

@media(max-width: 1450px){

  .zara-heading{
    font-size: 4rem;
  }

  .progress-text{
    font-size: 15px;
  }

  .tile-score{
    font-size: 50px;
  }

  .tile-heading{
    font-size: 17px;
  }

  .tile-subheading{
    font-size: 14px;
  }

  .progress-container{
    height: 30px;
  }

  .carousel-screens{
    font-size: 1.1rem;
  }

  .start-button{
    font-size: 1.2rem;
  }

  .zara-h2{
    font-size: 25px;
  }

  .zara-text{
    font-size: 20px;
  }

  .buttons img{
    max-width: 2.5rem;
    margin: 1.5rem .5rem;
  }
}

@media(max-width: 1000px){
  .zara-heading{
    font-size: 3rem;
  }
}


@media(max-width: 750px){
  .blob{
    max-width: 8rem;
    max-height: 8rem;
  }

  .start-button{
    font-size: 1rem;
    padding: .75rem;
  }

  .content-container{
    flex-grow: 1;
    display: flex;
  }

  .start-zara-main, .start-zara-second, .start-zara-final{
    width: 100%;
    height: 100%;
  }

  .welcome-text{
    font-size: .75rem;
  }

  .bird-logo{
    width: 40px;
  }

  .content-container{
    margin-bottom: 2rem;
  }
}