@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova-regular.otf') format('otf'),
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


body {
    animation: fadeIn 1s ease-in;
}

.feedback-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.parallax {
    pointer-events: none;
    width: 14rem;
    position: absolute;
}

.confetti-1{
    top: 8rem;
    left: -5rem;   
    transform: rotate(-55deg);
}

.confetti-2{   
    bottom: 0;
    right: -7rem;
    transform: rotate(25deg);
}

.zara{
    font-style: 'Roboto';
    font-size: 5rem;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 0;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-text h2 {
    margin: 0;
}

.top-text h3{
    margin-top: 1rem;
}

.green{
    color: #15D59F;
}

.completed{
    font-size: 3em;
    font-family: 'Poppins';
    color: #fff;
}

.score{
    font-size: 1.65em;
    font-family: 'Poppins';
    color: #fff;
}

.notice{
    color: grey;
    font-family: 'Poppins';
    font-size: 1rem;
    align-self: flex-start;
    padding-left: 1rem;
}

.feedback-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.category{
    background-color: #22232884;
    padding: 0rem 2rem;
    /* TODO: MAKE PADDING RESPONSIVE */
    /* padding-top: 1px; */
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* gap: 1rem; */
    /* TODO: MAKE GAP RESPONSIVE */
}

.category-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1em;
}

.category-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category h3{
    font-family: 'Poppins';
    color: #fff;
    line-height: 0;
}

.category h2 {
    line-height: 0;
    color: #15D59F;
    font-size: 4em;
}

.comments-container{
    padding: .5rem 1rem;
    background-color: #22232884;
    border-radius: 25px;
    font-size: 1.15rem;
    color: #fff;
    font-family: 'Poppins';
    align-items: center;
}

.comments-container li{
    padding: .35rem;
}

.negative-feedback::marker{
    color: #D16142;
}

.positive-feedback::marker{
    color: #15D59F;
}

button{
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Poppins';
    padding: 1rem 2rem;
    cursor: pointer;
}


button:active{
    transition: .5s;
    transform: scale(0.93);
}