/* Main Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.logo-img{
    cursor: pointer;
    width: 160px;
}

.auth-buttons-container {
    margin-right: 8rem;
    display: flex;
    align-items: center;
}

.log-in-button,
.sign-up-button {
  color: black ;
  background-color: white;
  transition: all 0.55s ease-in-out;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.log-in-button:hover{
    transform: scale(1.02);
}
  
/* Button */

button{
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Poppins';
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 1s ease;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
  
  
button:hover{
transform: scale(1.03);
}

@media(max-width: 750px){

    .header{
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        justify-content: center;
    }

    .footer button{
        font-size: 20px;
    }

    .logo-container{
        margin-left: 1rem;
    }

    .auth-buttons-container{
        margin-right: 1.5rem;
    }
}