* {
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%; 
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 80%;
  text-align: left;
}

.header {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center; 
}

.logo-img{
  height: auto;
  width: 150px;
  margin-top: 25%;
  left: 0;
  margin-left: 40%
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 3%;
  min-height: 90vh;

}

.slogan {
  text-align: left;
  margin: 20px 0;
  color: white;
  font-size: 4rem;
}

.highlight {
  color: rgb(0, 255, 187);  /* Adjust color as needed poop*/
}

.mission-statement {
  text-align: left;
  margin: 20px 0;
  color: white
}

.button-container {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 5%;
}

.get-started-button, .learn-more-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  flex: none;
  white-space: nowrap;
  width: 120px;  /* Adjust this as needed */
  text-align: center;  /* To center the text inside the buttons */
  margin-top: 20px;
  font-weight: bolder;
}


.get-started-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  flex: none;
  white-space: nowrap;
}

.learn-more-button {
  background-color: #15D59F;
  color: black;
  /* border: 1px solid #00ffbf; */
}

.statue-img {
  flex-basis: 50%; 
  max-width: 400px;
}

.footer {
  display: flex;
  justify-content: right;
  color: gray;
  padding: 20px 0;
  position: inherit;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray; 
  padding-right: 5%;

}

.footer button {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-weight: bolder;
}

.text-container {
  flex-basis: 50%;
  margin: 40px;

}

.auth-buttons-container {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5%;
  margin-top: 45px;
  
}

.log-in-button,
.sign-up-button {
  color: black ;
  background-color: white;


  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  font-size: 1rem;

}

.intro-text {
  color: white;
  font-size: 3rem;
  font-weight:bold ;
}

.intro-text-2 {
  text-align: left;
  margin: 20px 0;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.feature-text {
  color: white;
  font-size: 1rem;
  font-weight:lighter ;
  margin-bottom: 20px;
}

.home-block-1, .home-block-2, .home-block-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-bottom: 80px;
}

.step-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #252525;
  color: white;
  padding: 30px;
  border-radius: 25px;
  width: 80%;
  
}

.step-container button {
  /* background: white; */
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  flex: none;
}

.features-img {
  transform: rotate(320deg);
  max-width: 20rem; /* prevent the image from becoming too large */
  height: auto; /* maintain the aspect ratio of the image */

}

.squiggle-img {
  height: 10rem;
  transform: translateY(-12rem);


}