@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%; 
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
  border-radius: 50px;
  font-size: 1.5em;
  font-family: 'Poppins';
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 1s ease;
}


button:hover{
  transform: scale(1.03);
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* width: 80%; */
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

.logo-img{
  width: 150px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* margin: auto; */
  flex-wrap: wrap;
  /* min-height: 90vh; */
  font-family: 'Poppins';
}

.home-content{
  display: flex;
  justify-content: center;
}

.slogan {
  text-align: left;
  margin: 20px 0;
  color: white;
  font-size: 4rem;
}

.slogan-container {
  line-height: 4rem;
}

.highlight {
  color: rgb(0, 255, 187);  /* Adjust color as needed poop*/
}

.scroll-down {  
  margin-top: 10rem;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
  }
  50% {
        opacity: 1;
  }
  100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
  }
}

.mission-statement {
  font-family: 'Poppins';
  text-align: left;
  font-size: 35px;
  margin: 20px 0;
  color: white
}

.button-container {
  display: flex;
  justify-content: left;
  width: 100%;
}

.get-started-button, .learn-more-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  flex: none;
  white-space: nowrap;
  text-align: center;  /* To center the text inside the buttons */
  margin-top: 20px;
  font-weight: bolder;
  transition: all 0.55s ease-in-out;
}

.get-started-button:hover, .learn-more-button:hover{
  transform: scale(1.02);
}


.get-started-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  flex: none;
  white-space: nowrap;
}

.learn-more-button {
  background-color: #15D59F;
  color: black;
  /* border: 1px solid #00ffbf; */
}

.statue-img {
  align-self: center;
  flex-basis: 50%; 
  max-width: 400px;
}

.footer {
  font-family: 'Poppins';
  display: flex;
  justify-content: right;
  color: gray;
  padding: 20px 0;
  position: inherit;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray; 
  /* padding-right: 5%; */

}

.footer button {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-weight: bolder;
}

.text-container {
  flex-basis: 50%;
  margin: 40px;
}

.auth-buttons-container {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.log-in-button,
.sign-up-button {
  color: black ;
  background-color: white;
  transition: all 0.55s ease-in-out;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.log-in-button:hover{
  transform: scale(1.02);
}

.intro-text {
  color: white;
  font-size: 3rem;
  font-weight:bold ;
}

.text-bottom{
  font-size: 40px;
}

.intro-text-2 {
  text-align: left;
  margin: 20px 0;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.feature-text {
  color: white;
  font-size: 1rem;
  font-weight:lighter ;
  /* margin-bottom: 20px; */
}

.home-block-1, .home-block-2, .home-block-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-bottom: 80px;
}

.step-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #252525;
  color: white;
  padding: 30px;
  border-radius: 25px;
  width: 80%;
}

.step-container button {
  /* background: white; */
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  flex: none;
}

.features-img {
  transform: rotate(320deg);
  max-width: 20rem; /* prevent the image from becoming too large */
  height: auto; /* maintain the aspect ratio of the image */

}

.squiggle-img {
  height: 10rem;
  transform: translateY(-10rem);
}

.icon {
  height: 2rem;
  margin-right: 1rem;
}

.feature-container {
  display: flex;
  align-items: center;
  height: 100%; /* Adjust the height as needed */
}

/* Responsive */


@media(max-width: 1450px){
  .slogan{
    font-size: 3rem;
  }

  .mission-statement{
    font-size: 23px;
  }

  .statue-img{
    max-width: 300px;
  }

  .scroll-down{
    margin-top: 5rem;
  }

  .text-bottom{
    font-size: 30px;
  }
  
  .squiggle-img{
    transform: translateY(-8rem);
  }
}

@media(max-width: 1000px){
  .text-bottom{
    font-size: 25px;
  }

  .step-container{
    width: 100%;
  }

  .get-started-button, .learn-more-button{
    font-size: 20px;
  }
}

@media(max-width: 750px){
  .footer {
    justify-content: center;
  }

  body{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


  .home-content{
    display: flex;
    flex-direction: column;
  }

  .home-container{
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .header{
    align-items: center;
    justify-content: center;
  }

  .statue-img{
    width: 12rem;
  }

  .slogan {
    font-size: 3rem;
    text-align: center;
  }

  .slogan-container{
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mission-statement{
    margin-top: 3rem;
    font-size: 17px;
    text-align: center;
  }

  .scroll-down{
    margin-top: 2rem;
  }

  .home-block-1{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .home-block-2{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .home-block-3{
    padding: 40px;
  }

  .features-img{
    display: none;
  }

  .step-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learn-more-ai-img{
    width: 15rem;
    margin-top: 1rem;
  }

  .squiggle-img{
    display: none;
  }

  .text-container {
    margin: 0;
  }

  .scroll-down{
    display: none;
  }

  .button-container{
    justify-content: center;
  }

  .step-container button{
    margin-left: 0;
    width: 100%;
  }

  .footer button{
    font-size: 20px;
  }

  .logo-container{
    margin-left: 1rem;
  }

  .auth-buttons-container{
    margin-right: 1rem;
    margin-bottom: .5rem;
  }
}

