html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .learn-more-container {
    font-family: 'Poppins';
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
.block-1,
.block-2,
.block-3 {
    position: relative;

    min-height: 50vh;
    width: 100%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .block-1 h1,
  .block-2 h1,
  .block-3 h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
  }

  .block-3 h3 {
    color: white;
    font-size: 2rem;

  }
  
  .block-1 h2,
  .block-2 h2,
  .solution-block h2 {
    margin-bottom: 20px;
  }
  
  .block-1 {
    display: flex;
    align-items: center; /* if you want to align the image and text vertically */
    justify-content: flex-start; /* align items horizontally */
  }
  
  .block-1-content {
    margin-left: 20px; /* add some space between the image and the text */
  }
  
  .learn-more-ai-img {
    max-width: 20rem; /* prevent the image from becoming too large */
    height: auto; /* maintain the aspect ratio of the image */
  }
  
  .block-2 {
    display: flex;
    align-items: center; /* if you want to align the image and text vertically */
    justify-content: flex-start; /* align items horizontally */
  }
  .block-2-content {
    margin-left: 20px; /* add some space between the image and the text */
  }

  .puzzle-img {
    max-width: 15rem; /* prevent the image from becoming too large */
    height: auto; /* maintain the aspect ratio of the image */
  }

  .solutions-img {
    max-width: 10rem; /* prevent the image from becoming too large */
    height: auto; /* maintain the aspect ratio of the image */
  }
  
  
  .block-3 {
    text-align: center;
    flex-direction: column;

  }
  
  .solution-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  

  .solution-block {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .get-started {
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgb(0, 255, 187), rgb(28, 240, 255));
    color: black;
    border-radius: 41px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }
  
  .footer {
    display: flex;
    justify-content: right;
    position:inherit;
    color: gray;
    padding: 20px 0;
    width: 100%;
    border-top: 1px solid gray; 
    padding-right: 5%;
  }
  
  .footer button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .learn-more-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .scroll-arrow {
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background-image: url('../img/down-arrow.png');
    background-size: cover;
    animation: bounce 2s infinite;

  }
  

  
