.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.logo-img{
    width: 160px;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin: 10px;
}

.login-container-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .img-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%; /* Adjust this value as per your preference */
  }
  
  .green-lady-img {
    max-width: 60%; /* Set the maximum width to 100% to fit the container */
    height: auto;
  }

  .squiggle-img-2 {
    max-width: 30%; /* Set the maximum width to 100% to fit the container */
    height: auto;
    transform: translateX(-70%) translateY(-80%);

}

  .squiggle-img-3 {
    max-width: 30%; /* Set the maximum width to 100% to fit the container */
    height: auto;
    transform: translateX(50%) translateY(80%);
}
  
  

.login-welcome-text {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0; /* Add this line to remove the space under the "hey there." text */
  }


.login-prompt-text {
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
  
.login-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
  
    /* Add these properties to center and limit the width */
    width: 80%; /* You can adjust the width value as per your preference */
    margin: 0 auto;
    margin-right: 60px; /* Adjust this value to move the container to the left */
  }
  

.login-input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;

}

.login-input-group > div {
    flex: 1;
    margin-bottom: 1em;
    margin-top: 1em;
}

.login-input-group > div:last-child {
    margin-bottom: 0;
}

.login-input-group > div > input {
    width: 100%;
    padding: 10px;
    border-radius: 21px;
    margin-top: 5px;
    border-color: rgb(69, 69, 69);
    background-color: transparent;
    color: white;
    border-style: solid;
}

.login-button {
    margin-top: 1em;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    border-radius: 41px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: #15D59F;
    color: black;
}

.login-button:hover {
    background-color: #15D59F;
}

.login-link {
    margin-top: 1em;
    color: white;
}

label {
    color: white;
    font-size: 18px;
}

.main-container {
    width: 100vw;
}

.login-link a {
    color: #15D59F;
    text-decoration: none;
}

.login-link a:hover {
    color: #15D59F;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: bold;
  }

  @media(max-width: 750px){

    .login-container {
        flex-direction: column;
        
        height: auto;
        min-height: 90vh;

    }

    .img-container {
        transform: translateX(-7%)
    }
    
    .login-container-left {
        margin-bottom: 30px;
    }
    
    .login-welcome-text {
        font-size: 2.5rem;
    }
    
    .login-container-right {
        width: 100%;
        margin: 0;
        text-align: center;
    
    }
      
    .login-input-group{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        text-align: left;  

    }

    .login-input-group > div{
        display: flex;
        flex-direction: column;
    }
  }
