.btn {
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 2em;
    color: #fff;
    background: radial-gradient(circle at center, #000000, #464646);
    position: relative;
    z-index: 999;
    display: inline-block;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 2px solid #FFFFFF;
}

.pulse-ring {
    content: '';
    width: 100%;
    height: 100%;
    background: #00422b;
    border: 5px solid #404243;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.animate .pulse-ring {
    border: 1px solid #38D59F;
    animation: pulsate 1.5s infinite;
}

.hidden {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

@keyframes pulsate {
    0% {
    transform: scale(1, 1);
    opacity: 1;
    }
    100% {
    transform: scale(2, 2);
    opacity: 0;
    }
}
