@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
.btn {
    margin-top: 1rem;
    border: none;
    padding: 0;
    height: 70px;
    font-size: 2em;
    color: #fff;
    background: #151516;
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 2px solid #282828;
    display: flex;          /* Use flex to horizontally align content */
    justify-content: center;/* Center content horizontally */
    align-items: center;    /* Center content vertically */
    padding: 0 25px;
}

.btn:hover{
    transform: scale(1.05);
}

.icon {
    margin-right: 15px; /* Spacing between the icon and the text */
}

.record-text {
    font-family: 'Poppins';
    color: #fff;  /* Text color */
    font-size: 1.5rem; /* Adjust the font size as needed */
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 
                  0 0 10px rgba(255, 255, 255, 0.1), 
                  0 0 15px rgba(255, 255, 255, 0.1), 
                  0 0 20px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 
                  0 0 20px rgba(255, 255, 255, 0.2), 
                  0 0 30px rgba(255, 255, 255, 0.2), 
                  0 0 40px rgba(255, 255, 255, 0.2);
    }
  }
  
.highlight{
z-index: 3;
position: relative;
pointer-events: none;
animation: glow 1s ease-in-out infinite alternate;
}

.hidden {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.blink-red {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { color: #fff; }
    50% { color: red; }
    100% { color: #fff; }
}