@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

.main-container {
  height: 100vh;
}

.call-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 4rem;
}

.call-text {
  margin-bottom: 2rem;
}

.call-text h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins';
}

.call-text h2 {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 2rem;
  font-family: 'Poppins';
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 250px);
}

.pricing-box {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  border: 2px solid #838383;
  width: 40rem;
  height: 100%; /* Increased the height to 100% */
  margin: 1rem;
  box-sizing: border-box;
  transition: all 0.55s ease-in-out;
}

.premium-box:hover {
  box-shadow: 0 0 20px 6px #37D69F;
}

.basic-box:hover {
  box-shadow: 0 0 20px 6px #56C8DC;
}

.pricing-button-container {
  display: inline-flex;
  border: 2px solid white;
  border-radius: 10px;
}

.toggle-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button.active {
  background-color: #515151;
  color: white;
}

.feature-list {
  list-style-type: none;
  padding-left: 2rem;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  font-family: 'Poppins';
}
.feature-list li::before {
  content: "✔";
  margin-right: 10px;
}

.pricing-box p,
.price-switch-container .switch span,
.feature-list li {
  color: white;
  font-family: 'Poppins';

}

.basic-highlight {
  color: #56C8DC;
  font-size: 2rem;
}

.premium-highlight {
  color: #37D69F;
  font-size: 2rem;
}

.enterprise-highlight {
  color: #B57ED3;
  font-size: 2rem;
}

.log-in-button {
  color: black;
  background-color: white;
  transition: all 0.55s ease-in-out;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.log-in-button:hover {
  transform: scale(1.1);
}

.price-switch-container {
  /* border: 2px solid white; */
  margin-bottom: 5rem;
}

.logo-img {
  max-width: 100px;
  max-height: 100px;
}

.price-text {
  font-size: 3rem;
  padding:none;
  font-family: 'Poppins';

}

@media (max-width: 768px) {
  .main-container {
    height: auto;
  }

  .call-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .call-text {
    margin-top: 10rem; /* Adjust this value to move the call text up or down on mobile */
  }

  .call-text h1 {
    font-size: 1.5rem;
  }

  .call-text h2 {
    font-size: 1.2rem;
  }

  .pricing-container {
    flex-direction: column;
    margin-top: 9rem; /* Adjust this value to move the pricing container up or down on mobile */
  }

  .pricing-box {
    width: 100%;
    margin: 1rem 0;
  }

  .toggle-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .feature-list {
    font-size: 0.9rem;
  }

  .basic-highlight,
  .premium-highlight,
  .enterprise-highlight {
    font-size: 1.5rem;
  }

  .log-in-button {
    margin-bottom: 20px;
  }

  .price-text {
    font-size: 2rem;
  }
}

