@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova-regular.otf') format('otf'),
}

body{
  background-color: #0E0F12;
}

main{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 85vh;
  max-width: 55vw;
  justify-content: space-evenly;
}

.heading-text{
  color: #15D59F;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.subheading-text{
  margin-top: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.ai-img{
  width: 22rem;
  max-width: 25rem;
}

.transcript{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  height: 25vh;
  width: 60vw;
  align-items: center;
  border: 3px solid #282828;
  border-radius: 30px;
  background: #151516;
  padding: 0rem 2rem;
  overflow: auto; /* add this to handle content overflow */
}

.Typewriter__cursor {
  color: white;
  text-shadow: 0 0 3px white;
  font-size: 33px;
  animation: blink 0.1s step-end infinite; /* increase speed of blink */
}

/* Tutorial */

.tutorialContainer{
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background-color: #000000be;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorialBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  border-radius: 25px;
  font-family: 'Poppins';
  width: 33vw;
  text-align: center;
}

.tutorialHeader{
  cursor: default;
  color: #15D59F;
  font-size: 1.6vw;
  font-weight: bold;
  margin-bottom: 0;
}

.tutorialText{
  cursor: default;
  margin: .5;
  font-size: 1.1vw;
  color: #fff;
  padding: 0 2rem;
}

.tutorialButton{
  font-size: 1vw;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;  /* To center the text inside the buttons */
  margin: .5rem 0 2rem 0;
  transition: all 0.55s ease-in-out;
}

.tutorialButton:hover{
  transform: scale(1.02);
}

.tutorialTwo{
  transform: translate(-75%, -35%);
}

.tutorialThree{
  transform: translate(-75%, 85%);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 
                0 0 10px rgba(255, 255, 255, 0.1), 
                0 0 15px rgba(255, 255, 255, 0.1), 
                0 0 20px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 
                0 0 20px rgba(255, 255, 255, 0.2), 
                0 0 30px rgba(255, 255, 255, 0.2), 
                0 0 40px rgba(255, 255, 255, 0.2);
  }
}

.highlight{
  z-index: 3;
  position: relative;
  pointer-events: none;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes blink {
  from, to {
    color: transparent
  }
  50% {
    color: white
  }
}

.text-server{
  color: #fff;
}

.text-dark{
  color: #929292;
}

.text-user{
  color: #15D59F;
  margin: .3rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

@media(max-width: 1250px){
  .tutorialHeader{
    font-size: 1.5rem;
  }

  .tutorialText{
    font-size: 1rem;
  }

  .tutorialBox{
    width: 40vw;
  }

  .tutorialButton{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .tutorialTwo{
    transform: translate(-55%, -35%);
  }
  
  .tutorialThree{
    transform: translate(-55%, 55%);
  }
}

@media(max-width: 750px){
  .transcript{
    width: 90vw;
    font-size: 24px;
    height: 20rem;
  }

  .heading-text{
    font-size: 1.7rem;
  }

  .subheading-text{
    font-size: 1.2rem;
  }

  .ai-img{
    width: 13rem;
  }

  .tutorialHeader{
    font-size: 1rem;
  }

  .tutorialText{
    font-size: .85rem;
  }

  .tutorialBox{
    width: 80vw;
  }

  .tutorialButton{
    font-size: .85rem;
    margin-bottom: 1rem;
  }

  .tutorialTwo{
    transform: translate(0, -100%);
  }
  
  .tutorialThree{
    transform: translate(0, 0);
  }

  .transcript{
    font-size: 1.2rem;
  }
}