@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova-regular.otf') format('otf'),
}

body{
  background-color: #0E0F12;
}

main{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 90vh;
}

.hidden {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.visible {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 90vh;
  max-width: 55vw;
  justify-content: space-evenly;
}

.heading-text{
  color: #15D59F;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 5px;
}

.subheading-text{
  margin-top: -10px;
  color: #fff;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 5px;
}

.ai-img{
  width: 22rem;
  max-width: 25rem;
}

.transcript{
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  display: flex;
  height: 25vh;
  width: 55vw;
  align-items: center;
  border: 2px solid #282828;
  border-radius: 50px;
  background: #151516;
  padding: 0rem 4rem;
  overflow: auto; /* add this to handle content overflow */
}

.Typewriter__cursor {
  color: white;
  text-shadow: 0 0 3px white;
  font-size: 33px;
  animation: blink 0.1s step-end infinite; /* increase speed of blink */
}

@keyframes blink {
  from, to {
    color: transparent
  }
  50% {
    color: white
  }
}

.text-server{
  color: #fff;
}

.text-dark{
  color: #929292;
}

.text-user{
  color: #15D59F;
  margin: .3rem;
}

.mic-img{
  max-width: 3rem;
}

/* .logo {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  transform: none;
} */