@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.green{
    color: #43D2A2;
}

.billing-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 0 1rem;
}

.billing-block-1{
    flex: 1;
}

.billing-block-1 h1{
    font-size: 1.3vw;
    color: #fff;
}

.billing-block-1 h2{
    font-size: 1vw;
    color: #7A7A7A;
}

.billing-block-2{
    flex: 1;    
}

.billing-block-3{
    flex: 3;
}

.plan-container{
    padding: 0 2rem;
    margin-left: 8rem;
    background-color: #18191D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.55s ease-in-out;
}

.plan-container:hover{
    transform: scale(1.008);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.122);
}

.plan-container h1{
    margin: 1rem 0 0 0;
    font-weight: 700;
    font-size: 3.4vw;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.plan-container h2{
    margin: 0;
    text-align: center;
    font-size: 1.3vw;
    color: #7A7A7A;
}

.plan-container button{
    font-size: 1vw;
    margin: 1rem 0;
}